/* CardList.css */

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: 100%; /* Card takes full width of container */
  max-width: 400px; /* Maximum width of 400px */
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; /* Hide any overflow */
}

.img-container {
  width: 100%; /* Full width of the card */
  height: 250px; /* Fixed height for the image container */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide any overflow */
  margin-bottom: 10px; /* Space below the image */
}

.img, .image {
  max-width: 100%; /* Ensure the image does not exceed container width */
  max-height: 300px; /* Ensure the image does not exceed container height */
  height: auto; /* Maintain aspect ratio */
  width: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Fit the image inside the container without cropping */
}

.card:hover {
  background-color: #e8c0e4; /* Slightly lighter background color */
  transform: translateY(-5px); /* Move the card up slightly */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15); /* Increase the shadow for depth effect */
}
