/* App.css */
.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the app takes up the full viewport height */
}

.content {
  flex: 1; /* Allow the content to expand and push the footer to the bottom */
  width: 100%; /* Ensure content spans the full width of the viewport */
  box-sizing: border-box; /* Include padding in the width calculation */
}


.footer-text {
  font-size: 14px;
  color: #333; /* Dark text color */
  margin: 0; /* Remove any default margin */
}

.contact-button {
  padding: 8px 16px; /* Adjust padding to fit the footer */
  border: none;
  border-radius: 20px; /* Rounded button */
  background-color: #e992ca; /* Pink background color */
  color: #2c1111; /* Dark text color */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #d881b2; /* Slightly darker pink on hover */
}

/* Body Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('./img/background.jpeg'); /* Path to your background image */
  background-size: cover; /* Ensure the image covers the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Fix the image in place */
  color: #333; /* Default text color for visibility */
}

.main-text {
  margin-top: 150px;
  margin-bottom: -30px;
}

/* App.css */

/* Ensure the images are in rows */
.card-list {
  margin-top: 30px;
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Wrap images to the next row */
  gap: 20px; /* Space between images */
  justify-content: center; /* Center images horizontally */
  max-width: 100%; /* Ensure the card-list does not exceed the container width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

